
{{> header-admin }}

<div class="mt-4">
    <h3>Thêm sản phẩm</h3>

    <form method="POST" action="/admin/products/store">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name" > 
        </div>
        <div class="form-group">
            <label for="price">Giá sản phẩm</label>
            <input type="text" class="form-control" id="price" name="price">
            <span style="color: red">{{priceMessage}}</span>
        </div>
        <div class="form-group">
            <label for="image">Link hình ảnh sản phẩm</label>
            <input type="text" class="form-control" id="image" name="image" >
            
        </div>
        <div class="form-group">
            <label for="category">Phân loại sản phẩm</label>
            <input type="text" class="form-control" id="category" name="category" >
            
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>