
{{> header-admin }}

<div class="mt-4">
    <h3>Thêm sản phẩm</h3>

    <form method="POST" action="/admin/products/store">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name" required="required" oninvalid="setCustomValidity('Xin hãy nhập tên')" oninput="setCustomValidity('')">  
        </div>
        <div class="form-group">
            <label for="price">Giá sản phẩm</label>
            <input type="text" class="form-control" id="price" name="price" required pattern="\+?(\d+(\.(\d+)?)?|\.\d+)" oninvalid="setCustomValidity('Giá không hợp lệ, xin hãy nhập lại')" oninput="setCustomValidity('')">
        </div>
        <div class="form-group">
            <label for="image">Link hình ảnh sản phẩm</label>
            <input type="text" class="form-control" id="image" name="image" required required="required" oninvalid="setCustomValidity('Xin hãy nhập đường dẫn sản phẩm')" oninput="setCustomValidity('')"/>
            
        </div>
        <div class="form-group">
            <label for="category">Phân loại sản phẩm</label>
            <input type="text" class="form-control" id="category" name="category" required required="required" oninvalid="setCustomValidity('Xin hãy nhập phân loại sản phẩm')" oninput="setCustomValidity('')"/>
            
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>
