#form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    scale: 0.8;
}

#query {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}